In [1]:
import pandas as pd
import numpy as np


df = pd.read_csv("saas_customer_data.csv", parse_dates=['signup_date'])

np.random.seed(42)
df['group'] = np.random.choice(['A', 'B'], size=len(df), p=[0.5, 0.5])


df['sessions_last_month_ab'] = df.apply(lambda row: 
    row['sessions_last_month'] + (np.random.randint(1,4) if row['group']=='B' else 0), axis=1)

df['churned_ab'] = df.apply(lambda row: 
    row['churned'] if row['group']=='A' else np.random.choice([0,1], p=[0.85,0.15]), axis=1)


df.head()

,user_id,signup_date,plan,monthly_revenue,churned,sessions_last_month,group,sessions_last_month_ab,churned_ab
0,1,2023-01-31,Basic,20,0,12,A,12,0
1,2,2023-12-30,Basic,20,0,14,B,17,0
2,3,2022-05-10,Enterprise,120,0,9,B,12,1
3,4,2023-07-18,Free,0,1,5,B,8,0
4,5,2023-02-04,Free,0,0,1,A,1,0